@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center divclass">
    <div>
        <h1 class="display-5">Bem-vindo à CRM Educacional!</h1>
        <h1 class="display-15">Cadastre-se para ver todos os nossos cursos.</h1>
        <div>
            <a asp-action="Create" class="btn btn-primary astyle">Cadastre-se</a>
            <a asp-action="Login" class="btn btn-primary astyle" style="width: 7rem;">Login</a>
        </div>
        <div>
        </div>
    </div>
</div>
