@model crm_ps.Models.Course

@{
    ViewData["Title"] = "Cadastrando novo curso";
}

<h1>Cadastrar novo curso</h1>

<hr />

<div class="row divclasstwo">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
            </div>

            <br />

            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
                <input type="submit" value="Criar" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
